#globalStatistics
{
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: rgba(32, 90, 129, 0.9);
    padding: 1rem;
    margin-bottom: 3rem;
}
#globalStatistics > h3
{
    color: white;
}
#globalStatistics > button
{
    background-color: rgb(255, 255, 255);
    border: solid 0.25em rgb(0, 132, 255);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: rgb(0, 140, 255);
    transition: 0.2s;
}
#globalStatistics > button:hover
{
    transition: 0.2s;
    transform: translate(0px, -5px);
    box-shadow: 0px 5px black;
}
#globalStatistics > div > button
{
    background-color: rgb(255, 255, 255);
    border: solid 0.25em rgb(0, 132, 255);
    border-radius: 0.5rem;
    font-size: 1rem;
    color: rgb(0, 140, 255);
    transition: 0.2s;
}
#globalStatistics > div > button:hover
{
    transition: 0.2s;
    transform: translate(0px, -5px);
    box-shadow: 0px 5px black;
}
#gStatsReveal
{
    padding: 1rem;
    color: white;
    display: none;
}


/* regional styles */
#regionStatistics
{
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: rgba(32, 90, 129, 0.9);
    padding: 1rem;
    margin-bottom: 3rem;
    transition: 0.2s;
}
#regionStatistics > h3
{
    color: white;
}
#regionStatistics > button
{
    background-color: rgb(255, 255, 255);
    border: solid 0.25em rgb(0, 132, 255);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: rgb(0, 140, 255);
    transition: 0.2s;
}
#regionStatistics > button:hover
{
    transition: 0.2s;
    transform: translate(0px, -5px);
    box-shadow: 0px 5px black;
}
#regionStatistics > div > button
{
    background-color: rgb(255, 255, 255);
    border: solid 0.25em rgb(0, 132, 255);
    border-radius: 0.5rem;
    font-size: 1rem;
    color: rgb(0, 140, 255);
    transition: 0.2s;
}
#regionStatistics > div > button:hover
{
    transition: 0.2s;
    transform: translate(0px, -5px);
    box-shadow: 0px 5px black;
}
#rStatsReveal
{
    padding: 1rem;
    color: white;
    display: none;
    transition: 0.2s;
}
#rStatsReveal > p
{
    transition: 0.2s;
}

#regionStatistics > form > p
{
    margin: none;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}
#regionStatistics > form > select
{
    display: block;
    margin-bottom: 2rem;
    color: rgb(0, 132, 255);
    border: solid 0.25em rgb(0, 132, 255);
    transition: 0.3s;
}
.pHeader
{
    font-size: 1.4rem;
}

#regionStatistics > form > select:hover
{
    box-shadow: white 0px 0px 5px;
    transition: 0.3s;
}

#regionStatistics > form > select > option
{
    text-shadow: 0px 0px 2px black;
    font-size: 1em;
    transition: 0.2s;
}


#gStatsReveal > hr
{
    height: 0.5rem;
    background-color: rgb(38, 142, 168);
    box-shadow: rgb(15, 64, 73) 0px 3px;
}
#rStatsReveal > hr
{
    height: 0.5rem;
    background-color: rgb(38, 142, 168);
    box-shadow: rgb(15, 64, 73) 0px 3px;
}

